<div class="container">
  <div class="spacer1"></div>
  <div class="jumbotron text-center" id="jumbo">
    <h1 class="display-4 title">Claws N' Paws Pet Sitters</h1>
    <h3 class="slogan">We love cats & dogs as much as you do</h3>
    <p class="lead">Our mission? / optional</p>
    <!-- <hr class="my-4"> -->
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div> <!-- close Jumbo-->

  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="height: 20rem; width: 33.75rem;">
        <img src="..." class="card-img-top" alt="...">
        <h4 class="card-title text-center">Book with Sitters you can trust</h4>
        <div class="card-body">

          <p class="card-text">Certified with background checks</p>
          <p class="card-text">Detailed profiles with personal information of sitters</p>
          <p class="card-text">Personal attention and respect for your pet</p>
          <a href="example/" class="btn btn-primary text-center">Book your sitter</a>
        </div> <!-- close card-body - right side-->
      </div> <!-- close card - right side-->
    </div> <!-- close col-lg-6-->


    <form class="clearfix mb-4" action="POST">
    <div class="col-lg-6">
      <div class="card right-panel" style="height: 20rem; width: 33.75rem;">
        <div class="card-body">
          <h4 class="card-title text-center">Enter your preferences</h4>
          <br>
      
            <div class="form-group">
              <label for="example-text">I am looking for services for my</label>
              <input type="text"  id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Pet Type">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-4">
              <input type="text" class="form-control" id="example-description" aria-describedby="example-description" placeholder="ZIP">
              </div>
              <div class="col-2"></div>
              <div class="col-6">
              <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Phone Number">
           </div>
            </div>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>

</div> <!-- close container div -->
<div class="spacer2">

</div>


<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="text-center">
      <span class="text muted">Copyright &copy; 2019</span>
    </div>
  </div>
</footer>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>