<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJECT 2</title>
    <!-- Import bootstrap libabry for styling and mobile ready -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LOGO/BRAND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
              
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    
      <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
          
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    
      </ul>
        <form class="form-inline my-4 my-lg-0">
          <!-- <li class="nav-item"> -->
            <a class="nav-link" href="#">Sign In</a>
          <!-- </li> -->

          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
  </nav>

<div class="container">
  <div class="jumbotron text-center" id = "jumbo">
    <h1 class="display-4">Company Name</h1>
    <h3 class="slogan">Our slogan goes here</h3>
    <p class="lead">Our mission? / optional</p>
    <hr class="my-4">
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div> <!-- close Jumbo-->


  <div class = "col-lg-6">
  </div>

  <div class = "col-lg-6">
    <div class = "card" style = "width: 18rem;">
      <img src = "..." class = "card-img-top" alt ="...">
      <div class = "card-body">
        <h4 class="card-title">Book with Sitters you can trust</h4>
        <p class ="card-text">Certified with background checks</p>
        <p class ="card-text">Detailed profiles with personal information of sitters</p>
        <p class ="card-text">Personal attention and respect for your pet</p>
        <a href="#" class="btn btn-primary">Book your sitter</a>
      </div> <!-- close card-body - right side-->
    </div>  <!-- close card - right side-->
  </div>  <!-- close col-lg-6-->


  </div>  <!-- close container div -->

    
</body>
</html>