.list-group-item {
  line-height: 2.5;
}
.jumbotron {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  ),
  url("cats_n_dogs.jpg");
background-size: cover;
min-height: 40vh;
position: relative;
}
body {
  background: lightblue
}
.title {
  color: blue;
  font-weight: bold;

}
.spacer1 {
  height: 10px;
}
.spacer2 {
  height: 50px;
}
.right-panel {
  height: 265px;
}